@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: darkcyan;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

#moneybutton {
    border: none;
    background-color: darkcyan;
}

#rupee {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.center {
    text-align: center;
    width: 100%;
}

#buybutton {
    background-color: cornflowerblue;
    color: black;
    cursor: pointer;
}

.worker {
    float: right;
    margin: 0px;
}

.workercontainer {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 20px;
}

.purchasecontainer {
    width: auto;
}

.upgrades {
    margin-left: 20px;
    float: left;
}

/* victory popup */
.centerpopup {
    pointer-events: none;
    text-align: center;
    align-items: center;
    position: fixed;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 500px;
}

.victory {
    visibility: hidden;
    background-color: grey;
    text-align: center;
    height: 500px;
    padding-top: 100px;
}

.freeplaybutton {
    margin-top: 25px;
    background-color: red;
    width: 200px;
    height: 85px;
    cursor: pointer;
    margin-bottom: 25px;
}

.centerpopup .show {
 visibility: visible;
 pointer-events: all;
}

.centerpopup .hide {
 visibility: hidden;
 pointer-events: none;
}