body {
    background-color: darkcyan;
    margin: none;
}

#moneybutton {
    border: none;
    background-color: darkcyan;
}

#rupee {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.center {
    text-align: center;
}

#buybutton {
    background-color: cornflowerblue;
    color: black;
    cursor: pointer;
}

.worker {
    float: right;
    margin: 15px;
}

.workercontainer {
    display: flex;
    flex-direction: column;
    float: right;
}

/* victory popup */
.centerpopup {
    text-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

.victory {
    padding: 35px;
    visibility: hidden;
    background-color: grey;
    text-align: center;
}

.freeplaybutton {
    margin-top: 25px;
    background-color: red;
    width: 200px;
    height: 85px;
}

.centerpopup .show {
 visibility: visible;
}

.centerpopup .hide {
 visibility: hidden;
}